*

!.gitignore
!README.md

!notebooks/
!notebooks/*.ipynb

!lectures/
!lectures/assets/
!lectures/assets/css/
!lectures/assets/img/
!lectures/assets/diag/
!lectures/assets/css/*.css
!lectures/assets/img/*.jpg
!lectures/assets/img/*.png
!lectures/assets/img/*.gif
!lectures/assets/diag/*.svg

!lectures/analysis1/
!lectures/analysis1/*.md
!lectures/analysis1/*.html

!lectures/python-repl/
!lectures/python-repl/*.md
!lectures/python-repl/*.html

!lectures/jupyter/
!lectures/jupyter/*.md
!lectures/jupyter/*.html

!lectures/system/
!lectures/system/*.md
!lectures/system/*.html

!lectures/strings/
!lectures/strings/*.md
!lectures/strings/*.html

!lectures/matplotlib/
!lectures/matplotlib/*.ipynb

!labs/
!labs/lab01
!labs/lab01/*.ipynb
!labs/lab01/*.jpg
!labs/lab02
!labs/lab02/*.ipynb
!labs/lab03
!labs/lab03/*.ipynb
