*

!.gitignore
!README.md

!lectures/
!lectures/assets/
!lectures/assets/css/
!lectures/assets/img/
!lectures/assets/css/*.css
!lectures/assets/img/*.jpg
!lectures/assets/img/*.png
!lectures/assets/img/*.gif

!lectures/analysis1/
!lectures/analysis1/*.md
!lectures/analysis1/*.html
